@media only screen and (min-width: 1024px) {
    .container {
        width: 100%;
        margin-bottom: 4rem;
        margin-top: 0;
        background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
        background-position: 100% 10%, 0% 100%;
        background-repeat: no-repeat, no-repeat;
        background-size: 300px, 280px;
    }

    .cards {
        width: 365px;
        height: 28rem;
    }

    .card-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .cards:last-child {
        margin-left: -2.65rem;
    }

    .cards:first-child {
        margin-right: -2.65rem;
    }

    #pro {
        width: 350px;
        height: 32rem;
        z-index: 2;
    }

    .billing {
        width: 400px;
        margin-top: 0;
        margin-bottom: 0;
    }
}