@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* - Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%) */
:root {
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--Very-Light-Grayish-Blue);
}

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

 h1 {
    font-size: 2rem;
    color: var(--Dark-Grayish-Blue);
    margin-top: 2rem;
}

.billing {
    width: 80%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--Dark-Grayish-Blue);
    font-size: 0.75rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}