@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* - Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%) */
:root {
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
    --Pale-Blue: #a3a8f0;
    --Dark-Blue: #696fdd;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--Very-Light-Grayish-Blue);
}

.container {
    height: auto;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2rem;
    background-image: url(../images/bg-top.svg);
    background-position: 300% -2%;
    background-repeat: no-repeat;
    background-size: 80%;
    margin: 0 auto;
}

 h1 {
    font-size: 2rem;
    color: var(--Dark-Grayish-Blue);
    margin-top: 2rem;
}

.billing {
    width: 80%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Dark-Grayish-Blue);
    font-size: 0.75rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: 90%;
    height: 27rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.cards h2 {
    font-size: 4rem;
    color: var(--Dark-Grayish-Blue);
    display: flex;
    align-items: center;
}

.cards span {
    font-size: 2.5rem;
}

.cards h3 {
    font-size: 1.5rem;
    color: var(--Grayish-Blue);
}

.cards ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards li {
    padding: 1rem;
    font-size: 1rem;
    color: var(--Grayish-Blue);
    font-weight: bold;
    border-top: 1px solid var(--Light-Grayish-Blue);  
    border-bottom: 1px solid var(--Light-Grayish-Blue);
    width: 85%;
    text-align: center;
}

.cards button {
    width: 85%;
    padding: 1rem;
    border: none;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 0.85rem;
    background: linear-gradient(51deg, rgba(163,168,240,1) 2%, rgba(105,111,221,1) 30%);
    border-radius: 8px;
}

#pro h2{
    color: white;
}

#pro h3{
    color: white;
}

#pro li{
    color: white;
    border-top: 1px solid white;  
    border-bottom: 1px solid white;
}

#pro button{
    background: white;
    color: rgba(105,111,221,1);
}

#pro {
    background: linear-gradient(95deg, rgba(163,168,240,1) 6%, rgba(105,111,221,1) 36%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Dark-Blue);
    --webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    --webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--Dark-Blue);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}